body {
    background-color:rgba(255, 196, 206, 0.549)
}
h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
nav {
background-color: antiquewhite;
}
nav a.navBar {
    color: rgb(215, 87, 109);
}
nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}
nav > ul > li {
    padding: 12px;
    background-color:antiquewhite;
    transition: background-color, white;
}
nav > ul > li .dropMenu:hover {
    color:aqua;
}
.dropDown {
    position: relative;
}
.dropDown ul {
    flex-direction: column;
    list-style-type: none;
    padding:0px;
    background-color: wheat;
    position: absolute;
    left:0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5
        visibility 0.5,
        top 0.5;
}
.dropDown:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.dropDown ul li {
    background-color: powderblue;
    padding: 12px;
    width: 150px;
}
.dropMenu {
    color:blue;
}

.homePage1 {
    display: flex;
    margin: 24px;
    align-items: center;
}
.homeImage {
    flex: 1;
}
.homeText {
    flex: 2;
    margin: 24px
}
.homeImage img {
    width: 100%;
    border-radius: 10%;
    border: solid black 5px;
}

.contactPage1 {
    display:flex;
    align-items: center;
    margin: 24px;
}
.contactImage1 {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    object-position: 25%;
}
.contactText {
    margin: 24px;
}

.shopPage1 {
    display: flex;
    align-items: center;
    margin: 24px auto;
    max-width: 800px;
}
.shopText {
    flex: 2;
}
.shopImage {
    flex:1;
    width: 200px;
}





@media screen and (max-width: 768px) {
    nav > ul {
        flex-direction: column;
        align-items: center;
    }
    .dropDown:hover ul{
        opacity: 0;
        visibility: hidden;
    }
    .homePage1 {
        flex-direction: column;
    }
}
