nav a.navBar {
    color: pink;
}
nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
}
nav > ul > li {
    padding: 12px;
    background-color:antiquewhite
}
nav > ul > li .dropMenu:hover {
    color:aqua
}

.dropDown ul {
    display: flex;
    list-style-type: none;
    position: relative;
    flex-direction: column;
    background-color: wheat
}
.dropMenu {
    color:blue
}