nav {
background-color: antiquewhite;
}
nav a.navBar {
    color: pink;
}
nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}
nav > ul > li {
    padding: 12px;
    background-color:antiquewhite;
}
nav > ul > li .dropMenu:hover {
    color:aqua;
}
.dropDown {
    position: relative;
}
.dropDown ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding:0px;
    background-color: wheat;
    position: absolute;
    left:0px;
    top: 100%;
}
.dropDown a:hover ul {
    display:flex;
}
.dropDown ul li {
    background-color: powderblue;
    padding: 12px;
    width: 150px;
}
.dropMenu {
    color:blue;
}