<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>template</title>
        <link
            href="css/template.css"
            rel="stylesheet">
    </head>
    <body>
      <header>
        <nav>
            <ul>
                <li> <a href="#">Science</a> </li>
                <li> <a href="#">About Us</a> </li>
                <li> <a href="#">Recipes</a> </li>
                <li> <a href="#">Contact</a> </li>
                <li> <a href="#">Market</a> </li>
            </ul>
        </nav>
            <div id="heroHeader"> </div>
      </header>
      <main>
        <section>
            <div id="box1">
                <div class="box1Child">
                    <h2>Interesting Stuff</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet minima? Voluptates sunt dolores aspernatur numquam fugit sed, ut ullam voluptate ab consequuntur aut, natus ipsum, officiis nihil recusandae provident.
                    </p>
                </div>
                <div class="box1Child">
                    <h2>Interesting Stuff</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet minima? Voluptates sunt dolores aspernatur numquam fugit sed, ut ullam voluptate ab consequuntur aut, natus ipsum, officiis nihil recusandae provident.
                    </p>
                </div>
                <div class="box1Child">
                    <h2>Interesting Stuff</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet minima? Voluptates sunt dolores aspernatur numquam fugit sed, ut ullam voluptate ab consequuntur aut, natus ipsum, officiis nihil recusandae provident.
                    </p>
                </div>
                <div class="box1Child">
                    <h2>Interesting Stuff</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet minima? Voluptates sunt dolores aspernatur numquam fugit sed, ut ullam voluptate ab consequuntur aut, natus ipsum, officiis nihil recusandae provident.
                    </p>
                </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet minima? Voluptates sunt dolores aspernatur numquam fugit sed, ut ullam voluptate ab consequuntur aut, natus ipsum, officiis nihil recusandae provident.
            </p>
        </section>
      </main>
    </body>
</html>