* {
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #e1a177;
}
#logo img {
    height: 110px;
    margin-left
}
p {
    color: #fff;
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 48px;
    text-align: center;
}
.container{
    background-color: #e1a177;
    background-size: cover;
    background-position: center center;
}

#glider {
    background-image: url("../assets/images/cornM.jpg");
    background-size: cover;
    background-position: 50% 45%;
    background-attachment: fixed;
    height: 600px;
}
nav {
    position:fixed;
    width: 100%;
    top:0;
    text-align: center;
    margin: 0px;
    padding; 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    z-index: 100px;
    background-color:#FFf;
  }
nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    background-color:#FFf;
    width:100%;
    background-color:#FFf;
}
nav ul li {
    padding: 12px;
    width:100%;
    background-color:#FFf;
}
nav a {
    color: #000;
    font-size: 30px;
    list-style-type: none;
    margin-bottom: 0px;
}
#box1 {
    display:flex;
    Justify-content: center;
    background-color: #e1a177;
    margin:
}
#sideInfo {
    display: flex;
    flex-direction: row;
}
#image1 {
    display:flex;
    width: 50%;
}
#sideInfoChild{
    background-color: #e1a177;
    width: 50%;
}
#sideInfo2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 48x;
}
#image2 {
    display:flex;
    width: 50%;
}
#sideInfoChild2{
    background-color: #e1a177;
    width: 50%;
}

#photo {
    background-image: url("../assets/images/Zap\ copy.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-family: cursive;
    height: 200px;
}
#photo h1{
    font-size: 48px;
}
h5 {
    text-align: center;
}
a img {
    transition: invert 1.5s;
}
a:hover img {
    filter: invert(75%);
}