body{
    margin: 0;
}

#heroHeader {
    background-image: url("../assets/images/foxFamily.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    height: 800px;
    margin: 0px;
}
nav {
    position:sticky;
    width: 100%;
    height: 60px;
    top:0;
  }
nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}
nav > ul > li {
    padding: 12px;
    width:100%;
    color: white;
    background-color:orange;
}
nav a {
    color: white;
    font-size: 30px;
    list-style-type: none;
    margin-bottom: 0px;
}