body {
    margin: 0;
}

#hero1 {
    background-color: pink;
    background-image: url("../assets/images/MatrixMix.webp");
    background-size: cover;
    background-position: center center;
    height: 500px;
    /* position: relative; */
    /* text-align: center; */
    display:flex;
    justify-content: center;
    align-items: flex-end;
    transition: filter 0.5s;
}
#hero1 h1 {
    color: white;
    /* position:absolute;
    top: 400px; */
    font-family: cursive;
    font-size:60px
}
#hero1:hover {
    filter: blur(2px);
}

p {
    font-size: 32px;
    margin: 48px;
}

#hero2 {
    height: 100vh;
    background-image: url("../assets/images/bluered.webp");
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: filter 0.9;
}
#hero2:hover {
    filter:grayscale(50%)
}
#hero2 h2 {
    font-family: cursive;
    font-size: 60px;
    color: white;
}
#hero2 h3,
#hero3 h3 {
    font-family: cursive;
    font-size: 48px;
    Color: white;
}

#hero3 {
    background-image: url("../assets/images/blueredwhirl.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
#hero3 h3 {
    padding-top: 60px;
    padding-bottom: 30px;
}