#main {
    background-color:rgb(229, 229, 249);
    padding: 30px;
    margin: 30px
}
#content {
    background-color:rgb(106, 90, 205);
    border: 10px solid rgb(39, 3, 147);
    padding: 10px
}
#footer {
    padding: 10px 0px;
}