table {
    border-collapse: collapse;
}

th {
    padding-bottom: 12px;
    padding-right: 24px;
}
tr {
    border-bottom: 1px solid black
}
td {
    padding: 4px 0px;
}
tr:nth-child(even) {
    background-color: #f0f0f0
}

tfoot {
    background-color:antiquewhite
}
tr:hover {
    background-color: #e0ffe0
}