* {
    box-sizing: border-box;
}
body {
    background-color: #fafafa;
    font-family: sans-serif;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header ."
        ". content .";
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#fillOut {
    grid-area: content;
    background-color: #FFAD5C;
    border: 3px solid #7A4107;
    padding: 32px;
}
form label {
    display: block;
    font-weight: bold;
    margin: 8px 0px;
}
form input[type=text],
form textarea,
form select {
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
    background-color:#FE8610;
}

form input[type=submit] {
    background-color:#7A4107;
    color:white;
    border: 0;
    border-radius: 4xpx;
    padding: 16px 24px;
}
form input[type=submit]:hover {
    background-color: #0FC7FF;
    color:white;
    border: 0;
    border-radius: 4xpx;
    padding: 16px 24px;
}

form input[type=text],
textarea, 
form select {
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
}

form input::placeholder,
textarea::placeholder {
    color: black;
}
.red {
    color:red;
}

/* form input:invalid {
    border: 3px solid red;
    background-color: pink;
    animation: invalidWiggle 1s infinite;
} */

@keyframes invalidWiggle {
    0%, 100% {
        transform: translateX(0px);
        background-color: pink;
    }
    25% {
        transform: translateX(-15px);
        background-color: lightpink;
    }
    75% {
        transform: translateX(15px);
        background-color: pink;
    }
}
input:not(:focus):not(:placeholder-shown):invalid {
    border: 3px solid red;
    background-color: pink;
    animation: invalidWiggle 1s infinite;
}

@media only screen and (max-width: 600px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "content";

    }
}