#sidebar {
    float: right;
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 20px;
    border: solid 1px;
}
.sideBarMenu{
    color: Blue;
    text-align: left;
    padding-bottom: 10px
}
#blue{
    font-weight: bold;
}