#sidebar {
    float: right;
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 5px 10px;
    border: solid 1px;
}
#contents {
    margin-right:1050px;
    background-color: rgb(243, 243, 243);
    border: solid 1px;
}
#contentsH{
    text-align:center;
}

.sideBarMenu{
    color: Blue;
    text-align: left;
    padding-bottom: 10px
}
#blue{
    font-weight: bold;
}
#h3{
    margin: 5px;
}
.bodyParagraph{
    padding: 5px;
}
#rightFloat{
    float: right;
    background-color: rgb(243, 243, 243);
    border: solid 1px;
    margin: 10px
}
#leftFloat{
    float: left;
    background-color: rgb(243, 243, 243);
    border: solid 1px;
    Padding:5px;
    margin-right:10px;
}
#right {
    width: 200px;
    display: flex;
    Margin: 12px;
}


.sideBySide {
    Display: flex;
    text-align: center;
}
.sideBySide span{
    text-align: left;
}
.sideBySide span:first-child {
    font-weight: bold;
    width: 100px
}
/* .sideBySide span:last-child {
    font-weight: 30;
    color: pink;
} */

.sideBySide span:nth-child(2) {
    font-weight: 200;
    color: pink;
}
