#sidebar {
    float: right;
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 5px 10px;
    border: solid 1px;
}
#contents {
    margin-right:1050px;
    background-color: rgb(243, 243, 243);
    border: solid 1px;
}

h3 contents

.sideBarMenu{
    color: Blue;
    text-align: left;
    padding-bottom: 10px
}
#blue{
    font-weight: bold;
}
#h3{
    margin: 5px;
}
.bodyParagraph{
    padding: 5px;
}
