body {
    margin: 0;
    background-color: #010101;
    color: rgb(190, 189, 189);
}

header {
    display: flex;
}
#logo {
    width: 100px;
    height: auto;
}
header #logo {
    margin-right: auto;
    padding: 12px;
}

#hero {
    background-image: url("../assets/images/mediaAssets/backgroundLarge.jpg");
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}
#gallery img {
    height: 200px;
    object-fit: cover;
    flex: 1 0 auto;
    margin: 12px;
}