body {
    margin: 0;
    background-color: #010101;
    color: rgb(190, 189, 189);
}

header {
    display: flex;
    align-items: center;
    padding: 12px;
}
#logo {
    width: 100px;
    height: auto;
}
header #logo {
    margin-right: auto;
    padding: 12px;
}
#signUp {
    background-color: #0163e5;
    border: 1px solid #0163e5;
    color: white;
    padding: 12px;
}
#logIn {
    background-color: #010101;
    border: 1px solid white;
    color: white;
    padding: 12px;
}
h3 {
    margin-top: 60px;
}
#viewAll {
    color:rgb(190, 189, 189);
    margin-top: 12px;
}

#hero {
    background-image: url("../assets/images/mediaAssets/backgroundLarge.jpg");
    height: 900px;
}
#middleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
}
#logo3 {
    width: 600px;
}
#first {
   font-size: 18px
}
#email {
    background-color:rgb(48, 48, 48);
    border: none;
    padding: 12px;
    width: 400px;
    margin: 0;
}
#get {
    background-color: #0163e5;
    border: none;
    color: white;
    padding: 12px;
    margin: 0;
}
#dMore {
    width: 600px;
    height: auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
#gallery img {
    width: 400px;
    margin: 12px;
    flex: 1 0 auto;
    object-fit: cover;
}
