Body{
    font-family: sans-serif;
    margin: 0;
}
header {
    Background-color: salmon;
    Border-Bottom: 2px solid grey;
    color: white; 
    padding: 48px 36px 36px 36px;
}
header h1{
    font-size: 48px;
    Margin: 60px,0px;
    text-align: center;
}
header a{
    color: white;
    margin: 6px;
}
footer {
    Border-top: 2px solid grey;
    padding: 48px
    text-align: center;
}
footer div{
    margin:12px;
}

header,
footer {
    Background-color: salmon;
}
main{
    padding: 48px;
    background-color:aliceblue;
}
main h3{
    color:salmon;
}
.card{
    border: 1px solid grey;
    padding: 48px;
    box-shadow: 4px 4px 5px;
    margin-bottom: 48px;
}
Figure img {
    width: 400px;
}
#clear{
    clear: both;
}
figure{
    float:left;
}
  